<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
</head>
<body>
  <header>
    <% include partials/header %>
  </header>

  <div class="container editobject jumbotron">
    <div class="thumbnail">
      <img src="<%=items.image %>" alt="">
    </div>
    <div>
      <h2><strong><%=items.name %></strong></h2>
    </div>
    <div>
      <h4>Description: <%=items.description %></h4>
    </div>
    <div>
      <h5>Condition: <%=items.condition %></h5>
    </div>
    <div>
      <h5>Category: <%=items.category %></h5>
    </div>
  <div>

  <!-- //missing functionality to rent item -->
    <div>
      <button class = "form-control btn-danger" type="submit">Rent Item</button>
    </div>
  <!-- end of button div -->
  </div>
  </div>

<!-- this is where a map would go if i knew how to do maps -->
  <center>
    <h3>Location</h3>
    <h2>this is where map would go</h2>
</center>
<div id="map">
  <script>
    function initMap() {
    var mission = {lat: 26.215, lng: -98.325};
    var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 10,
    center: mission
    });
    var marker = new google.maps.Marker({
    position: mission,
    map: map
    });
    }
  </script>
  <script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBagv-43cAtG0CGsWpT7oBQbcSZbbfDxjA&amp;callback=initMap"></script>
</div>
<!-- end of map -->
  <footer class="footertwo">
  <% include partials/footer %>
  </footer>
</body>
</html>
