<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
</head>
<body>

<!-- this is the dashboard page -->
  <header>
    <% include partials/header %>
  </header>

  <a href="/newitem/additem" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>Post New Item</a>

  <!-- ///////messing with dashboard -->

  <div class="container" id="testbox">
    <center>
      <label>Posted Items:</label>
    </center>

    <% items.forEach(function(item){%>
    <div class="row" id="item-info-box">

      <div class="col-md-2" id="imagebox">
          <a href="/newitem/edit/<%=item._id%>">
          <img src="<%=item.image%>" alt="" class="mini-thumbnail">
        </a>
      </div>

      <div class="col-md-7" id="detailsbox">
      <p> <%=item.name%> </p>
      <p> <%=item.category%>, <%=item.condition%> condition </p> </p>
      <p>Owner:  <%=item.owner%> </p>
      
      <p> Date Posted: <%=item.date%> </p>
      </div>

      <div class="col-md-3">
          <a href="/newitem/edit/<%=item._id%>" class="btn btn-success inline-button1">Edit</a>
          <form class="" action="/newitem/<%=item._id %>" method="POST">
            <button type="submit" name="button" class="btn btn-success inline-button2">Remove</button>
          </form>
      </div>

    </div>
      <% });%>
    </div>
  </div>
  <!-- /// -->
  <!-- // -->
  <!-- // -->

  <footer class="footertwo">
    <% include partials/footer %>
  </footer>
</body>
</html>
